/* // Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */


#bootstrap-overrides{
    background: url('/assets/ws_Snow_Mountain_Lake_Reflection_1920x1080.jpg');
    background-size: 960px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: top;
    width: 960px;
    height: 900px;
}

#bootstrap-overrides #header{
    background-color: #222;
    width: 950px;
    height: 90px;
    opacity: .5;
    display: block;
    margin-top: 0px;
    /* position: absolute;
    left: 30px; */
}

#header h2{
    font-size: 45px;
    font-family: Georgia;
}

#bootstrap-overrides .navbar-inverse{
    background-color: #222;
    border: none;
    padding-right: 35px;
    height: 20px;
    float: right;
    margin-top: 40px;
}


.navbar, li{
    display: inline-block;
    vertical-align: bottom;
}

.homeLink{
    display: block;
    margin-left: 850px;
    text-decoration: underline;
}

.container-fluid{
    padding-top: 0px;
}

#hiddenText{
    position: absolute;
    margin-left: 135px;
    margin-top: 20px;
    width: 150px;
    font-size: 10px;
    color: #9d9d9d;
    
}

.box{
  border: 1px solid green;
  position:absolute;
  color: white;
  top: 19px;
  left: 30px;
  background-color: black;
  opacity: .5;
}

#bootstrap-overrides nav.navbar.navbar-inverse{
    margin-bottom: 5px;    
}

#bootstrap-overrides #header .navbar-nav li a{
    padding-top: 3px;
    padding-bottom: 3px;
}

nav li + li:before{
    content: " | ";
    padding: 0 2px;
}

div, h2{
    display: inline-block;
    color: #9d9d9d;
    margin: 10px;
}

